// サイト内で使う色
$mainColor: #8DA390;
$baseColor: #F9F7F2;
$accentColor: #FFA891;
$main_textColor: #3E2A26;
$sub_textColor: #7D6B67;

//余白関係をまとめておく
// $paddingS: 0.5rem;
// $paddingM: 1rem;
// $paddingL: 1.5rem;
// $paddingXL: 2rem;

// // mainエリアのコンテンツの横幅の最大幅を決めておく
// $maxWidth: 1200px;