@use "../global/variables" as *;

// セクション01 絶望編　-----------
h2{
    font-size: 24px;
    text-align: center;
}

#despair,
#solutions,
#experience{
    margin-top: 80px;
}
.despair-heading{
    display: flex;
    justify-content: center;
    padding: 16px;
}
.scene-title{
    margin-top: 24px;
}
.scene-body p{
    text-align: center;

}


// セクション02 救済編　-----------


// セクション03 20分の余白　-----------


// セクション04 手紙　-----------


